* {
    font-family: "Fira Sans", "JetBrains Mono", monospace;
    font-size: 26px;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background: transparent;
}

#workspaces {
    background: #2a2a2a;
    border-radius: 20px;
    margin: 0px;
    padding: 2px 4px;
}
#workspaces button {
    background: #515151;
    color: #515151;
    border-radius: 20px;
    padding: 0px 5px;
    margin: 5px 4px;
    min-width: 24px;
}
#workspaces button.active {
    background: #d4d4d4;
    color: #d4d4d4;
    border: 0px;
}

#mpris {
    background-color: #2a2a2a;
    border-radius: 16px;
    color: #d4d4d4;
    padding: 0px 10px;
    margin-left: 10px;
}

#clock {
    background-color: #2a2a2a;
    border-radius: 16px;
    color: #d4d4d4;
    padding: 0px 10px;
    margin-right: 10px;
}

#privacy {
    background-color: #286464;
    border-radius: 16px;
    color: #d4d4d4;
    padding: 0px 10px 0px 12px;
    margin-right: 10px;
}

#custom-aur-updates {
    background-color: #2a2a2a;
    border-radius: 16px;
    color: #d4d4d4;
    padding: 0px 10px;
    margin-right: 10px;
}

#pulseaudio {
    background-color: #2a2a2a;
    border-radius: 16px;
    color: #d4d4d4;
    padding: 0px 10px;
    margin-right: 10px;
}

#language {
    background-color: #2a2a2a;
    border-radius: 16px;
    color: #d4d4d4;
    padding: 0px 10px;
    margin-right: 10px;
}

#tray {
    background-color: #2a2a2a;
    border-radius: 16px;
    padding: 0px 10px;
    margin-right: 10px;
}

#custom-notifications {
    background-color: #2a2a2a;
    border-radius: 16px;
    color: #d4d4d4;
    padding: 0px 18px 0px 10px;
    margin-right: 10px;
    font-size: 34px;
}

#custom-shutdown {
    background-color: #2a2a2a;
    border-radius: 16px;
    color: #d4d4d4;
    /* Power icon is too big so it's formatted as "{icon}{space}" */
    /* Padding only left centers it */
    padding-left: 10px;
}