/* https://man.archlinux.org/man/swaync.5.en */

* {
  font-family: "Fira Sans", "JetBrains Mono", monospace;
  --notification-icon-size: 36px;
  --mpris-album-art-icon-size: 150px;
  color: @window_fg_color;
}

/* Main control-center panel */
.control-center {
  background-color: @window_bg_color;
  color: @window_fg_color;
  border: 2px solid @accent_bg_color;
  border-radius: 12px;
}

.widget-dnd, .widget-dnd * {
  font-size: 20px;
}

/* MPRIS widgets */
.widget-mpris, 
.widget-mpris-player {
  padding: 0px;
  margin: 0px;
}
.widget-mpris-subtitle {
  margin-bottom: 20px;
  color: alpha(@window_fg_color, 0.85);
}
.widget-mpris button {
  margin-top: 20px;
}

/* Buttons with accent background */
button {
  border: 0;
  min-width: 70px;
  border-radius: 10px;
  background: @accent_bg_color;
  color: @accent_fg_color;
  margin: 10px 0px;
  padding: 8px;
}
button:hover  { 
  background: shade(@accent_bg_color, 1.10); 
}
button:active { 
  background: shade(@accent_bg_color, 0.90); 
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 5px;
}

/* Notification headers and cards */
.widget-notifications {
  padding: 0px;
  margin: 10px;
}

/* This could probably be simpler if I stopped being lazy and inspected the class structure */
.widget-notifications *:not(button):not(.notification) {
  background-color: transparent;
}

.notification {
  background: @window_bg_color;
  color: @window_fg_color;
  border: 1px solid @accent_bg_color;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

/* Hover actions */
.notification-default-action:hover,
.notification-action:hover {
  margin: 0px;
  border-radius: 0px;
  color: @accent_fg_color;
  background: transparent;
}

/* Close button */
.close-button {
  background: shade(@accent_bg_color, 0.80);
  color: @accent_fg_color;
  text-shadow: none;
  padding: 0;
  border-radius: 15px;
  margin-top: 9px;
  margin-right: 10px;
  min-width: 24px;
  min-height: 24px;
}
.close-button:hover {
  background: shade(@accent_bg_color, 1.30);
}
.notification-group .notification-group-close-button .close-button {
  margin: 15px 22px;
}
